* {
  font-family: 'Ubuntu', sans-serif;
}

.App {
  text-align: center;
}

#hero {
  width: 100vw;
  height: 100vh;
  padding: 0px;
  margin: 0px;
  background-image: url("/src/Components/Images/hero.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

#info-section {
  width: 100vw;
  height: auto;
  padding: 0px;
}

#inner-hero {
  background-color: white;
  width: auto;
  bottom: 0; 
  position: absolute;
}

#hero-content {
  width: 50vw;
  padding-top: 4rem;
}

.title {
  font-weight: bold;
}
.uppercased {
  text-transform: uppercase;
}

@media only screen and (max-width: 767px) {
  .spaced {
    margin: 20px 0px;
  }
  #hero-content {
    width: 70vw;
  }
}

@media only screen and (max-width: 600px) {
  #hero-content {
    width: 90vw;
  }
}
